.banner{
    width: 100%;
    
}

.principal{
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo_principal{
    padding-left: 20px;
}

.titulo_centralizado{
    text-align: center;
}

p{
    text-align: center;

}

#missao{
    font-size: 25px;
}

em, strong{
    color: red;
}

.itens{
    font-style: italic;
}

.beneficios{
    background-color:#FFFFFF;
    padding: 20px;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.img_beneficios{
    width: 50%;
}